.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.basket {
  z-index: 1;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 480px;
}

.basketHeader div, .basketProduct div {
  width: 25%;
  padding: 5px 15px;
}

.basketHeader, .basketFooter {
  font-weight: bold;
}

.basketFooter {
  justify-content: flex-end;
  padding: 5px 15px;
}

.basketHeader, .basketProduct {
  border-bottom: 1px solid #ebebeb;
}